*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, 
body,
#root{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 1rem;
}
main .left , main .right {
height: 100%;
flex-basis: 50%;
height: 100%;
flex-basis: 50%;
border-radius: 0.7rem; 
}
main .left{
  background-color: black;
  position: relative;
}
.left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0f0e0e;
}
main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(150, 150, 237);
  color: black;
  padding: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}
main .right{
  background-color: rgb(87, 87, 87);
  padding: 1rem 2rem;  
  font-size: 1.5rem;
  overflow: auto;
}
.right pre {
  background: #181818 !important;
  color: #fff !important;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

.right code {
  background: #232323 !important;
  color: #ffb86c !important;
  border-radius: 0.3rem;
  padding: 0.2em 0.4em;
  font-size: 1em;
}